/* General */
body {
  margin: 50px;
  margin-left: 200px;
  font-family: sans-serif;
}
.cont {
  background: #E9ECEF;
  display: inline-block;
  padding: 20px;
  padding-bottom: 5px;
}
div {
  margin-bottom: 20px;
}
@media (max-width: 600px){
  body {
    margin: 24px;
  }
